.signup-container {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: glow 3s infinite alternate; /* Increased duration for a softer effect */
}
  
.signup-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: "Playwrite IN", serif;
}
  
.signup-form {
    width: 100%;
}
  
.form-group {
    margin-bottom: 15px;
}
  
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Aesthetic font for labels */
}
  
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Aesthetic font for inputs */
}
  
.submit-button {
    background-color: #333;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}
  
.submit-button:hover {
    background-color: #45a049;
}
  
.signin-link {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-decoration: none;
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Aesthetic font for the signin link */
}
  
.signin-link:hover {
    text-decoration: underline;
}
  
@media (max-width: 480px) {
    .signup-container {
        max-width: 100%;
        margin: 0 10px;
    }
}

/* Keyframes for very light glowing effect */
@keyframes glow {
    0% {
        box-shadow: 0 0 5px rgba(255, 105, 180, 0.1), 0 0 10px rgba(255, 105, 180, 0.05), 0 0 15px rgba(255, 105, 180, 0.03);
    }
    50% {
        box-shadow: 0 0 10px rgba(255, 105, 180, 0.3), 0 0 15px rgba(255, 105, 180, 0.2), 0 0 20px rgba(255, 105, 180, 0.1);
    }
    100% {
        box-shadow: 0 0 15px rgba(255, 105, 180, 0.4), 0 0 20px rgba(255, 105, 180, 0.3), 0 0 25px rgba(255, 105, 180, 0.2);
    }
}
  
  